<div class="header" role="banner">
    <div class="site-header">
        <div class="title" {{ pages["_meta"].meta.tagline ? ' class="tagline"' }}>
            <a href="{{ base_url }}">
                <h1 class="title-text">{{ site_title }}</h1>
                {{ pages["_meta"].meta.tagline|markdown }}
            </a>
        </div>
        <div id="main-nav" class="nav navhide">
            <div class"navlinks" id="nav" role="navigation" tabindex="-1">
                <ul>
                    {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                        <li{% if page.id==current_page.id %} class="active" {% endif %}>
                            <a alt="{{ page.title }}" href="{{ page.url }}"><div class="navlinkitem"><p>{{ page.title }}<p></div></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="main-hamburger" id="main-hamburger"><button aria-label="navigation"><i class="fas fa-bars"></i></button></div>
    </div>
</div>
